<a href="https://colab.research.google.com/github/Annieng184/Annieng184/blob/main/June_20th%2C_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/0AUxkXt.png)

# 1 - FOR LOOP

Below are a set of questions about Python For Loop data structure and method. 

The questions are order to gradually increase in difficulty.

Let's start.

## Q1: Even numbers.
Write program to print all even numbers from 1 to n.

*Example:*
```python 
>>> 5 #input
>>> 2 4 # output 
```

In [4]:
# Your code here
n = int(input('Enter a number; '))
for i in range(1, n):
  if i %2 == 0:
    print(i, end = ' ')

Enter a number; 5
2 4

## Q2: Sum
Write a program to find sum of all even numbers between 1 to n.
*Example:* 
```python 
>>> 5 #input
>>> 6 #output
```

In [6]:
# Your code here
n = int(input('Enter a number; '))
sum = 0
for i in range(1, n):
  if i%2 ==0:
    sum += i
print(sum)

Enter a number; 5
6

## Q3: Series

Given a tuple of 2 positive integers where the second integer is larger than the first, print out all the integers between those two integers (inclusive).

*Example:*
```python
>>> T = (3,6) # Given tuple T
3 4 5 6 # output
```

In [12]:
#Your code here
T = (2,6)
if T[0] < T[1]:
  for i in range(T[0], T[1]+1):
    print(i, end = ' ')

2 3 4 5 6

## Q4: Robust Series

Given a tuple of 2 positive integers, print all integers between those 2 integers (inclusively) with the condition:
- Print in *increasing* order if the first integer is smaller than the second
- Print in *decreasing* order if the first integer is greater than or equal to the second.

The easiest way to do this problem is to use the function [`range()`](https://www.geeksforgeeks.org/python-range-function/) extensively. Think about how to get a sequence of numbers backwards.

*Example #1:*
```python
>>> T = (8,5) # Given tuple T
8 7 6 5 # output
```

*Example #2:*
```python
>>> T = (1,3) # Given tuple T
1 2 3 # output
```

In [ ]:
# Your code here
T = (10,4)
if T[0] < T[1]:
  for i in range(T[0], T[1]+1):
    print(i, end = ' ')
else:
  for i in range(T[0], T[1] -1, -1):
    print(i, end = ' ')

## Q5: Factorial 

In mathematics, the factorial of an integer n, denoted by n! is the following product:

$$
n! = 1 \times 2 \times 3 \times \ldots \times n
$$

For a given integer n calculate the value n!. Don't use math module in this exercise!

*Example #1:*
```python
>>> 4 # Given n
24 # output (24 = 1*2*3*4)
```

*Example #2:*
```python
>>> 10 # Given n
3628800 # output (3628800 = 1*2*3*4*5*6*7*8*9*10)
```

In [15]:
# Your code here
n = int(input('Enter a number; '))
total = 1
for i in range(1, n+1):
  total = total*i
print(total)

Enter a number; 10
3628800

## Q6: Sum of factorials

In mathematics, the factorial of an integer n, denoted by n! is the following product:

$$
n! = 1 \times 2 \times 3 \times \ldots \times n
$$

For the given integer n calculate the value

$$
1! + 2! + 3! + \ldots + n!
$$

Try to discover the solution that uses only one for-loop. And don't use math module in this exercise.

*Example #1:*
```python
>>> n = 4 # Given n
33 # output (33 = 1! + 2! + 3! + 4!)
```

*Example #2:*
```python
>>> 10 # Given n
4037913 # output (4037913 = 1! + 2! + 3! + 4! + 5! + 6! + 7! + 8! + 9! + 10!)
```

In [17]:
# Your code here
n = int(input('Enter a number; '))
count = 0
total = 1
for i in range(1, n+1):
  total = total*i
  count += total

print(count)

Enter a number; 10
4037913

## Q7: Factor check
Given a positive integer n, print out all of its factors. 

*Example*
```python
>>> n = 12
1
2
3
4
6
12
>>> n = 7
1
7
```

In [19]:
n = int(input('Enter a number; '))
for i in range(1, n+1):
  if n%i == 0:
    print(i)

Enter a number; 7
1
7

## Q8: Prime check

Given an integer n>1, check if it is a prime number. Print `True` if it is, and `False` if it isn't.

>A prime number is a positive integer that has only 2 factors: 1 and itself.

*Example*
```python
>>> n = 2
True
>>> n = 23
True
>>> n = 18
False
```

In [21]:
n = int(input('Enter a number; '))
prime_check = 0
for i in range(2, n+1):
  if n%i ==0:
    prime_check += 1

if prime_check > 2:
  print(False)
else:
  print(True)

Enter a number: 33
False

## Q9: Perfect number check
Given an integer n>1, check if it is a perfect number. Print `True` if it is, and `False` if it isn't.

> A perfect number is a positive integer whose factors (not including itself) sum up equal to that number itself.

*Example*
```python
>>> n = 6
True # because 1+2+3 == 6
>>> n = 10
False # because 1+2+5 != 10
>>> n = 28
True # because 1+2+4+7+14 == 28
```

In [22]:
n = int(input('Enter a number; '))
count = 0
for i in range(1, n):
  if n%i ==0:
    count +=i
if count == n:
  print(True)
else:
  print(False)

Enter a number; 6
True

## Q10: Filled square

Given an integer size n>2, draw a filled square of stars with that size.

*Example*
```python
>>> n = 3 # Given size
***
***
*** # 3x3 square of stars
>>> n = 5
*****
*****
*****
*****
*****
```

In [23]:
n = int(input('Enter a number: '))
for i in range(n):
  print('*'*n)

Enter a number: 5
*****
*****
*****
*****
*****

## Q11: Hollow square

Given an integer size n>2, draw a hollow (empty) square of stars with that size.

*Example*
```python
>>> n = 3 # Given size
***
* *
*** # 3x3 square of stars
>>> n = 5
*****
*   *
*   *
*   *
*****
```

In [24]:
n = int(input('Enter a number: '))
for i in range(n):
  if i == 0 or i == n-1:
    print('*'*n)
  else:
    print('*' + ' '*(n-2) + '*')

Enter a number: 5
*****
*   *
*   *
*   *
*****

In [ ]:
# Your code here